{% extends "base.html" %}
{% block content %}

<div style="padding-top:10px;padding-bottom:3;">
<a href="{%url 'statistic:indexStat'%}"><返回</a>
</div>
<hr style="margin-top:2px;margin-bottom:10px"/>

<center><h4>月度实际课时消费统计</h4></center>
<div style="width:100%;margin:0 auto;text-align:center;">
<select id="branch">
  {%if login_teacher.branch == '5ab86f5397a75d3c74041a69' or login_teacher.branch == '5ab86f1f97a75d3c74041a68'%}
  <option value="">选择校区</option>
  {%endif%}
   {% for b in branchs %}
      <option value="{{b.id}}" {% if branch == b.id|stringformat:"s" %}selected="select"{% endif %}>{{b.branchName}}</option>
   {% endfor %}
</select>
<select id="year">
<option value="">选择年份</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>

</select>
<select id="month">
<option value="">选择月份</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select>
<button onclick="search()">查询</button>
&nbsp;
{%if month%}
<a target="_blank" href="branchIncomeDue?branch={{branch}}&year={{year}}&month={{month}}">校区应消课时统计</a>
{%endif%}
<span id="tip"></span>
</div>
<div style="width:100%;margin:0 auto;text-align:center;padding-bottom:80px">
{%if month%}
<h4>{{branchName}} {{year}}年{{month}}月</h4>

<table border="1" width="80%" align="center">
<tr>
<td></td>
<td></td>
<td>课时</td>
<td>平均课时费</td>
<td>消费额(前四次课消费)</td>
<td>工资系数</td>
<td>课时工资</td>
</tr>

<tr>
<td>校区</td>
<td></td>
<td>{{branchData.lessons}}</td>
<td></td>
<td>{{branchData.consume}}</td>
<td></td>
<td></td>

</tr>

{%for ti in teacherIncomes%}
<tr>
<td>{{ti.name}}</td>
<td></td>
<td>{{ti.lessons}}</td>
<td></td>
<td>{{ti.consume}}{%if ti.consumeFirst4 > 0%}({{ti.consumeFirst4}}){%endif%}</td>
<td>{{ti.ratio}}%</td>
<td>{{ti.duePay}}</td>
</tr>

  {%for si in ti.sc%}
  <tr style="color:#999999;">
  <td>&nbsp;&nbsp;&nbsp;<a target="_blank" href="/go2/gradeClass/lessons?type=1&id={{si.classid}}">{{si.classname}}</a>&nbsp;</td>
<td>    <a target="_blank" href="/go2/regUser/studentInfo/{{si.id}}/">{{si.name}}</a></td>
  <td><a target="_blank" href="/go2/gradeClass/studentLessons?id={{si.id}}">{{si.thisPure}}{%if si.first4 > 0%}({{si.first4}}){%endif%}</a></td>
  <td></td>
  <td>{{si.consume}}{%if si.consumeFirst4 > 0%}({{si.consumeFirst4}}){%endif%}</td>
  <td></td><td></td>
  </tr>
  {%endfor%}
{%endfor%}
</table>
{%endif%}
</div>
{%endblock%}

{% block scripts %}
    <script>
    function search(){
        $("#tip").html('<font color="red">查询中请稍等...</font>');
        var month = $("#month").val();
        var year = $("#year").val();
        var branch = $("#branch").val();
        var url = "{%url 'statistic:branchIncome2'%}?year="+year+"&month="+month+"&branch="+branch;
        window.location.href=url
    }
    $("#year").val('{{year}}');
    $("#month").val('{{month}}');
    {%if branch%}
    $("#branch").val('{{branch}}');
    {%endif%}
    </script>
{% endblock %}
