{% extends "base.html" %}
{% block content %}
<div >
<a href="{%url 'statistic:indexStat'%}"><返回</a><span id='tip' style="color:red;"></span>
</div>

<div>


<center><h4>{%if city%}【{{city.cityName}}】{%endif%}新生续费统计</h4>

<div style="width:100%;margin:0 auto;text-align:center;">

<input id="beginDate" type="text" placeholder="起始日期">
<input id="endDate" type="text" placeholder="截至日期">
<button id="searchButton">统计</button>
</center>
</div>

<br>
<div id="table-container">
<center>
    <table  id="datatable"  class="table table-striped table-bordered" width="400">
    <thead>
        <tr>

        <th  align="center" nowrap>校区</th>
        <th  align="center" nowrap>新生数</th>
        <th  align="center" nowrap>续费成功数</th>
        <th  align="center" nowrap>续费完成率</th>

        </tr>
</thead>
<tbody>
{%for quests in res%}

<tr>
<td nowrap>{{quests.branchName}}</td>
<td nowrap>{{quests.allNew}}</td>
<td nowrap>{{quests.newDone}}</td>
<td nowrap>{%if quests.newDoneRate%}{{quests.newDoneRate}}%{%endif%}</td>

</tr>
{%endfor%}
</tbody>
</table>
</center>
</div>
<div id="bottom_anchor"></div>
{% endblock %}
{% block scripts %}
<script>
$('#beginDate').datetimepicker({
    timepicker: false,
    format: 'Y-m-d'
});
$('#endDate').datetimepicker({
    timepicker: false,
    format: 'Y-m-d'
});

$("#searchButton").click(function(){
    if($("#beginDate").val()==''){
        alert('请填写起始日期')
        return
    }
    if($("#endDate").val()==''){
        alert('请填写截至日期')
        return
    }
	var url = "{%url 'statistic:cityNewRedeal'%}?beginDate="+$("#beginDate").val()+"&endDate="+$("#endDate").val();
	$("#searchButton").html("<font style='color:grey;'>查询中...</font>")
	$("#tip").html("查询中...");
	window.location.href=url;
})

$("#beginDate").val('{{beginDate}}')
$("#beginDate").css("color","red")
$("#endDate").val('{{endDate}}')
$("#endDate").css("color","red")

$(document).ready(function() {
    $('#datatable').DataTable({
    	    	"paging":   false,
       	"searching": false,
    	    "info":false,
        dom: 'Bfrtip',
        "order": [[ 3, "desc" ]],
        buttons: [
            { extend: 'copy', text: '复制' },
            { extend: 'csv', text: '保存' },
            { extend: 'print', text: '打印' }
        ]
	});

});
</script>
{% endblock %}
