{% extends "base.html" %}
{% block content %}

<style>
.container{padding:0}
.ad{display: block;width:100%;padding-left: -120px;}
body {
	font-family: 微软雅黑, Arial;
}

div {
	padding: 10px 30px 10px 30px;text-align:center;
}

#submitBtn {
	padding: 10px 40px 10px 40px;
	font-size: 16px;
}

label.valid {
	width: 24px;
	height: 24px;
	background: url(assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

#fix-contant {
  width: 100%;
  height: 50px;
  background-color:red;
  color: white;
  opacity: 1;
  position: fixed;
  bottom: 0;
	font-size: 20px;
	cursor: pointer;
 }
</style>

</head>
<body>
	<div style="padding-top:25px;font-size:20px;">

		<img src="/go_static/img/logo.png"  width="30"/>&nbsp;真朴儿童围棋教室


	</div>
	<a name="reg" ></a>
	<div style="padding-top:5px;font-size:16px;">

		    {%if student.name2%}{{student.name2|default:""}}小朋友<br>邀请你免费试听围棋课
		    {%elif student.name%}{{student.name}}小朋友<br>邀请你免费试听围棋课
		    {%else%}<br>免费试听课登记
		    {%endif%}

		</div>
		<form id="qform" action="rer" method="post"class="form-inline">
     <input type="hidden" name="sourceType" value="E" />
		 <input type="hidden" name="regBranch" value="5a6299c297a75d4d8c66b531" name2="市场部"/>
		 <input type="hidden" name="sourceCategory" value="5d123306e5c5e62175c973c9" />
     <!--input type="hidden" name="sourceCategory" value"5b246de197a75dec6f15be1c" 2018周年庆/-->
     <input type="hidden" name="source" value="5d123314e5c5e62175c973ca" /><!--李颖活动-->
		 <!--input type="hidden" name="source" value="5b246e6797a75dec6f15be20" 2018周年庆/-->

			<div>请选择一个就近的校区<br>
				<select id="branch" name="branch">
					<option value=""></option>
					{%for b in branches%}
					  <option value="{{b.id}}">{{b.branchName}}</option>
					{%endfor%}
				</select>（必选）
			</div>
			<!--div>
	           <input  style="max-width:400px;min-width:250px;" type="text" name="refname"
					id="refname" value="" placeholder="介绍人" class="form-control">
			</div-->
			<div>
	           <input  style="max-width:400px;min-width:250px;" type="text" name="name"
					id="name" value="" placeholder="孩子姓名或小名（必填）" class="form-control">
			</div>
			<div >
			<select id="ageYear" name="ageYear">
			  <option value="">几岁?</option>
			  {% for y in year%}
			  <option value="{{y}}">{{y}}岁</option>
			  {%endfor%}
			</select>
			<select  id="ageMonth" name="ageMonth" >
			<option value="0">几个月?</option>
			<option value="0">整</option>
			  {% for m in month%}
			  <option value="{{m}}">{{m}}个月</option>
			  {%endfor%}
			</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <label class="radio-inline"> <input type="radio"
					name="gender" value="女" id="female" />女
				</label> <label class="radio-inline"> <input type="radio"
					name="gender" value="男" id="male" />男
				</label>

			</div>
			<div>
				 <input style="max-width:400px;min-width:250px;" type="text" name="prt1mobile"
					id="prt1mobile" value="" placeholder="手机号（必填）"
					class="form-control">
			</div>
			<div>
				<input id="submitButton" style="max-width:300px;height:40px;font-size:16px;" type="submit" class="btn btn-danger" value="提交试听申请" />
			</div>	</form>






<div style="width:100%;padding:20px 0 0 0;" id="images">
	<img style="width:100%;" src="http://www.zenweiqi.com/m/images/b_01.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_02.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_03.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_04.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_05.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_06.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_07.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_08.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_09.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_10.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_11.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_12.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_13.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_14.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_15.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_16.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_17.jpg" />
	<img class="ad"  src="http://www.zenweiqi.com/m/images/b_23.jpg" />

</div>
		</div>
<div id="fix-contant"><center>填写试听申请</center></div>
{% endblock %}
{% block scripts %}
<script>
  $("#fix-contant").click(function(){
      document.location.href="#reg"
	})
	$('#qform').validate({
		rules : {
			name : {
				minlength : 2,
				required : true
			},

			prt1mobile : {
				minlength : 11,
				required : true
			},
			branch : {
				//minlength : 2,
				required : true
			}
		},
		messages : {
            name : {
                required : "孩子名必填"
            },
            prt1mobile : {
                required : "手机号必填"
            },
						branch : {
                required : "校区必选"
            }

        },
				submitHandler: function(form) {
					 $("#submitButton").attr("disabled","disabled")
					 $(form).ajaxSubmit();
				}
	});

	$("title").html('真朴围棋');


$(document).ready(function(){
	$("div").scroll(function(){
		console.log('scroll');
	});
})
</script>
{% endblock %}
