{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
    {% include 'back.html' %}

<div style="width:100%;text-align:center;"><h4>请选择短信模板</h4></div>
<div style="width:100%;">
<table>
{% for template in templates %}
    <tr><td style="padding-right:5px;"><input onclick="selectTemplate('{{template.id}}')" type="checkbox" /></td>
    <td  onclick="selectTemplate('{{template.id}}')"  style="border:1px solid #999999;padding:4px;">
{{template.txt}}
    </td>
    <td style="padding-left:5px;"><table height="100%">
          <tr><td><button onclick="editTemplate('{{template.id}}')">修改</button></td></tr>
          <tr><td height="20px"></td></tr>
          <tr><td><button onclick="removeTemplate('{{template.id}}')">删除</button></td></tr>
        </table>
    </td>
    </tr>
    <tr><td height="5px"></td></tr>
{% endfor %}
</table></div>
<div style="width:100%;text-align:center;"><button onclick="addTemplate()">添加短信模板</button></div>

{% endblock %}
{% block scripts %}
    <script>
    var Request = new QueryString();
    var student_oid = Request['student_oid'];
    function selectTemplate(id){
    	var url = '{% url "regUser:sms" %}'+'?template_oid='+id+'&student_oid='+student_oid;
    	document.location.href=url;
    }
    function addTemplate(){
    	var url = '{% url "regUser:smsTemplateEdit" %}'+'?student_oid='+student_oid;
    	document.location.href=url;
    }
    function editTemplate(id){
    	var url = '{% url "regUser:smsTemplateEdit" %}'+'?template_oid='+id+'&student_oid='+student_oid;
    	document.location.href=url;
    }
    function removeTemplate(id){
    	if(confirm('确认删除短信模板？')){
    		alert('remove');
    	}
    }
        
    </script>
{% endblock %}