{% extends "base.html" %}

{% block styles %}
    <style>
    div{width:100%;padding-bottom:10px;}
    </style>
{% endblock %}
{% block content %}
    {% include 'back.html' %}


                <div style="text-align:center"><h4>{%if template%}修改{%else%}添加{%endif%}短信模板</h4></div>
                <div style="width:100%;">可用标签：{孩子名}{家长称呼}{老师名}{上课时间}
<textarea id="txt" style="min-width:100%;min-height:130px;">{{template.txt|default:''}}
</textarea>
                </div>
                <div><input type="checkbox" id="isDefault">默认模板
<button type="button" onclick="saveTemplate()">保存</button>
    </button></div>
{% endblock %}
{% block scripts %}
    <script>
    var Request = new QueryString();
    var student_oid = Request['student_oid'];
        function saveTemplate() {
        	
        	$.post("{% url 'regUser:api_saveSMSTemplate' %}", {
            	'template_oid':'{{template.id|default:""}}',
                'txt': $("#txt").val(),
                'default': '0'
            }, function (res) {
                if (res.error == 0) {
                    alert("成功");
                    location.href = "{% url 'regUser:showSMSTemplates' %}"+"?student_oid="+student_oid 
                } else {
                    alert("失败");
                }
            });
        }

    </script>
{% endblock %}