{% extends "base.html" %}
{% block content %}
    {% include 'logo.html' %}
    {% include 'nav.html' %}
<div style="padding:10px;">
  {%if login_teacher.branchType == '2'%}
  <select id="searchCity" name="searchCity">
    <option value="0">全部城市</option>
    {%for c in cities%}
      <option value="{{c.id}}">{{c.cityName}}</option>
    {%endfor%}
  </select>
  {%endif%}
<input style="width:90px;" type="text" id="beginDate" name="beginDate" placeholder="起始日期">
   <input style="width:90px;" type="text" id="endDate" name="endDate" placeholder="截至日期">

<select id="searchStatus" name="searchStatus">
  <option>全部状态</option>
  <option value="0">有效</option>
  <option value="2">退费</option>
  <option value="-1">退费申请</option>
  <option value="1">结束</option>
</select>
<select id="searchMulti" name="searchMulti">
  <option value="-1">新老生全部</option>
  <option value="0">新招生</option>
  <option value="1">新生续费</option>
  <option value="2">老生续费</option>
</select>
<select id="searchCTtype" name="searchCTtype">
  <option value="-1">全部班型</option>
  <option value="0">常规班</option>
  <option value="1">集训班</option>
  <option value="2">赠课</option>
  <option value="3">会员费</option>
</select>
<select id="searchCT" name="searchCT">
  <option value="-1">全部时长</option>
  {%for contractType in cts%}
  <option value='{{ contractType.id }}'>{{contractType.city.cityName}}-{%if contractType.type == 1%}集训班{%else%}{{ contractType.duration }}周{%if contractType.discountPrice%}{{ contractType.discountPrice }}{%else%}{{contractType.fee}}{%endif%}元{%if contractType.memo%}({{contractType.memo}}){%endif%}{%endif%}</option>
  {%endfor%}
</select>


<button id="searchButton"  class="btn btn-success" onclick="search()">合同查询</button>
{%if login_teacher.branchType == '0' or isFinance%}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; <button id="incomes" class="btn btn-default">其他收入</button>
{%endif%}
{%if isFinance%}&nbsp;&nbsp;|&nbsp;&nbsp; <button id="deposits" class="btn btn-default">定金</button>
&nbsp;&nbsp;|&nbsp;&nbsp; <button id="netcontracts" class="btn btn-default">网课合同</button>
{%endif%}
&nbsp;&nbsp;|&nbsp;&nbsp; <!--button id="Y19Incomes" class="btn btn-default">元十九收入</button-->
</div>
<table  id="datatable"  class="table table-hover">
  <thead>
<tr>
{%if showAll%}

{%endif%}
<th nowrap style="padding:10px;">
{%if login_teacher.branchType == '1' and login_teacher.role < 8%}
编号
{%else%}
招生部门
{%endif%}
</th>
<th nowrap style="padding:10px;">渠道</th>
<th nowrap style="width:140px;padding:10px;">招生老师</th>
<th nowrap style="padding:10px;">学生姓名</th>
<th nowrap style="padding:10px;">合同类型</th>

<th nowrap style="padding:10px;">签约校区</th>
<th nowrap style="padding:10px;">授课老师</th>
{%if searchStatus == '2' or searchStatus == '1' or searchStatus == '-1'%}<th>签约时间</th>{%endif%}
<th nowrap style="padding:10px;">{%if searchStatus == '2'%}退费{%elif searchStatus == '1'%}结束{%elif searchStatus == '-1'%}申请退费{%else%}签约{%endif%}日期</td>
<th nowrap style="padding:10px;">续费类型</th>
<th nowrap style="padding:10px;">{%if login_teacher.showIncome == '1'%}课时{%else%}周{%endif%}</th>
<th nowrap style="padding:10px;">金额</th>
<th nowrap style="width:120px;padding:10px;">付款方式</th>
<th nowrap style="width:140px;padding:10px;">{%if searchStatus == '-1' or searchStatus == '2'%}退费理由{%else%}合同汇总{%endif%}</th>
<th nowrap style="width:140px;padding:10px;">备注</th>
{%if login_teacher.branchType == '0' or login_teacher.cityRB == login_teacher.id or login_teacher.branch == '5ab86f5397a75d3c74041a69'%}
<th></th>{%endif%}
</tr>
</thead>
<tbody>
{%for c in list%}

<tr style="color:#{%if c.status == 1%}aaaaaa{%endif%};">


  <td nowrap style="padding:2px;">
  {%if login_teacher.branchType == '1' and login_teacher.role < 8%}
  {{c.code|default:""}}
  {%else%}
  {{c.regBranch|default:""}}
  {%endif%}
  </td>
  <td style="padding:2px;">{%if c.sourceType == 'A'%}<font color="green">网络</font>{%elif  c.sourceType == 'B'%}<font color="red">拜访</font>{%elif  c.sourceType == 'C'%}<font color="red">转介</font>{%elif  c.sourceType == 'D'%}社会{%elif  c.sourceType == 'E'%}市场{%endif%}</td>
  <td  style="padding:2px;">{%if c.sourceType != 'D'%}{{c.regTeacher|default:""}}{%endif%}</td>
  <td nowrap style="padding:2px;">{%if login_teacher.branchType == '0' or login_teacher.branch == '5867c26f0bb1e63b74d6cd62'%}<a href="{% url 'regUser:student_info' c.student_id %}" >{%endif%}{{c.student_name|default:"无"}}{%if login_teacher.branchType == '0'%}</a>{%endif%}</td>
  <td nowrap style="padding:2px;">{%if c.contractType.type|stringformat:"s" == '4'%}9.9网课{%endif%}</td>

  <td nowrap style="padding:2px;">{{c.branchName|default:""}}</td>
  <td nowrap style="padding:2px;">{{c.teacherName|default:""}}</td>
  {%if searchStatus == '2' or searchStatus == '1' or searchStatus == '-1'%}
  <td style="padding:2px;">
    {{c.singDate|date:"Y-m-d"|default:""}}

  </td>
  {%endif%}
  <td nowrap style="padding:2px;">{%if searchStatus == '2' or searchStatus == '1'%}{{c.endDate|date:"Y-m-d"|default:""}}{%elif searchStatus == '-1'%}{{c.refundAppDate|date:"Y-m-d"|default:""}}{%else%}{{c.singDate|date:"Y-m-d"|default:""}}{%endif%}</td>
  <td nowrap style="padding:2px;">{%if c.contractType.type == 1%}假期班{%elif c.contractType.type == 2%}赠课{%elif c.multi == 3%}季度学费{%elif c.contractType.type == 3%}会员费{%elif c.multi == 1%}新生续费{%elif c.multi == 2%}老生续费{%elif c.multi == 0%}新招生{%endif%}</td>
  <td style="padding:2px;">{%if c.contractType.type == 1%}{{c.weeks|default:"0"}}周{%elif login_teacher.showIncome == '1'%}{{c.weeks|add:c.weeks|default:""}}{%else%}{{c.weeks|default:""}}{%endif%}</td>
  <td style="padding:2px;">{{c.paid|default:""}}</td>
  <td nowrap style="padding:2px;">{%for key,value in paymethods.items%}{%if key == c.paymethod%}{{value}}{%endif%}{%endfor%}</td>
  <td nowrap style='width:160px;padding:2px;'>{{c.memo2.split|join:"<br>"}}</td>
  <td  style="padding:2px;">
    <div style="max-height:50px;text-overflow:ellipsis;overflow:hidden;">
    {%if c.refundMemo%}{{c.refundMemo|default:""}}{%else%}{{c.memo|default:""}}{%endif%}
{%if c.refund > 0%}(退款：{{c.refund}}){%endif%}
  </div></td>

  {%if login_teacher.branchType == '0' or login_teacher.cityRB == login_teacher.id or login_teacher.branch == '5ab86f5397a75d3c74041a69'%}
  <td nowrap style="padding:2px;">
  <button onclick="change('{{c.student_id}}')">修改</button>
  </td>
  {%endif%}

</tr>
{%endfor%}
</tbody>
</table>
<tr>
  <td colspan="6"></td>

  <td>共 {{list|length}} 个合同，合计</td>
  <td>{{sum}} 元</td>
</tr>


{% endblock %}

{% block scripts %}
<script>
$('#beginDate').datetimepicker({
    timepicker: false,
    format: 'Y-m-d'
});
$('#endDate').datetimepicker({
    timepicker: false,
    format: 'Y-m-d'
});
function change(oid) {
	var url = "{% url 'contract:studentContracts' %}"+"?student_oid="+oid;
    document.location.href=url;
}
function removeContract(id){
	if(confirm("确定删除？")){
	$.post("{% url 'contract:removeContract'%}", {
  	  'id':id
    }, function (res) {
      if (res.error == 0) {
          alert("删除成功");
          location.reload(true);
      } else {
          alert(res.msg);
      }
    });
	}
}
document.onkeydown=function(event){
    e = event ? event :(window.event ? window.event : null);
	    if(e.keyCode==13){
	    	search();
     	}
}
function search(){
  $("#searchButton").html("<font style='color:grey;'>查询中请稍候...</font>")
	var searchStatus = $("#searchStatus").val();
  var searchMulti = $("#searchMulti").val();
  var searchCT = $("#searchCT").val();
  var searchCity = $("#searchCity").val();
  var searchCTtype = $("#searchCTtype").val();
	var y = $("#beginDate").val();
	var m = $("#endDate").val();
	search = '?branch={{branch}}';
	if(y)search = search+'&beginDate='+y;
	if(m)search = search+'&endDate='+m;
  if(searchStatus)
	   search = search+'&searchStatus='+searchStatus;
  if(searchMulti)
	   search = search+'&searchMulti='+searchMulti;
  if(searchCT)
     search = search+'&searchCT='+searchCT;
  if(searchCity)
        search = search+'&searchCity='+searchCity;
  if(searchCTtype)
   	 search = search+'&searchCTtype='+searchCTtype;
  //alert(search)
	var url = "{% url 'contract:contract_list' %}"+search
	window.location.href=url;
}
function clickPage(page){
	var url = '{% url 'contract:contract_list' %}'
	url = url+'?branch={{branch}}&page='+page;
	window.location.href = url;
	//window.location.href = '/go?page='+page;
}
$("#nav6").css("color","red");
$("#nav6").css("font-weight","bold");
$("#searchStatus").val('{{searchStatus}}')
{%if searchStatus == None%}
$("#searchStatus").val('全部状态')
{%endif%}
$("#searchStatus").css("color","red")
$("#searchMulti").val('{{searchMulti}}')
$("#searchMulti").css("color","red")
$("#searchCTtype").val('{{searchCTtype}}')
$("#searchCTtype").css("color","red")
$("#searchCT").val('{{searchCT}}')
$("#searchCT").css("color","red")
{%if searchCity == None%}
$("#searchCity").val('0')
{%else%}
$("#searchCity").val('{{searchCity}}')
{%endif%}
$("#searchCity").css("color","red")
{% if beginDate%}
$("#beginDate").val('{{beginDate}}')
$("#beginDate").css("color","red")
{%endif%}
{% if endDate%}
$("#endDate").val('{{endDate}}')
$("#endDate").css("color","red")
{%endif%}


$(document).ready(function() {

    $('#datatable').DataTable( {
    	"paging":   false,
    	"searching": true,
    	"info":false,
      "language": {
            "lengthMenu": "每页显示 _MENU_ 学生",
            "zeroRecords": "空空如也",

            "sInfo":"共 _TOTAL_ 合同",
            "infoEmpty": "没有找到哦",
            "sSearch":"查询",
            "oPaginate": {
		        "sFirst":"首页",
		        "sPrevious": 	"上一页",
		        "sNext":     	"下一页",
		        "sLast":     	"末页"
	        },
            "infoFiltered": "(从 _MAX_ 中搜索)"
        },
      "order": [[ {{showCol}}, "desc" ]],
      dom: 'Bfrtip',
      buttons: [
            { extend: 'copy', text: '复制' },
            { extend: 'csv', text: '保存' },
            { extend: 'print', text: '打印' }
        ],


    });

});

$("#incomes").click(function(){
  window.location.href='incomes'
})
$("#Y19Incomes").click(function(){
  window.open('Y19Incomes')
})

$("#deposits").click(function(){
  window.location.href='deposits'
})
$("#netcontracts").click(function(){
  window.open('netcontracts')
})
</script>
{% endblock %}
