{% extends "base.html" %}
{% block content %}
<style>

</style>

    <div>
      <center style="font-weight:bold;">元十九本周统计</center>
 <button onclick="search()">查询</button>
 <table border="1" id="datatable">
    <thead>
     <tr style="background:#eeeeee;">
     <th width="30" style="padding:0;">校区</th>
     <th align="center"><center>周二</center></th>
     <th align="center"><center>周三</center></th>
     <th align="center"><center>周四</center></th>
     <th align="center"><center>周五</center></th>
     <th align="center"><center>周六</center></th>
     <th align="center"><center>周日</center></th>
     <th align="center"><center>周一</center></th>
     <th align="center"><center>本周</center></th>
     <th align="center"><center>本月</center></th>
     <th align="center"><center>总计</center></th>
     </tr>
    </thead>

    <tbody>
        {% for map in stat %}

            <tr style="background:#{% cycle 'ffffff' 'eeeeee' %}">

            <td>{{map.branchName}}</td>
            {%for num in map.data%}
            <td>{{num}}</td>
            {%endfor%}
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
      </tfoot>
      <tr style="background:#eeeeee;">
      <th width="30" style="padding:0;">校区</th>
      <th align="center"><center>周二</center></th>
      <th align="center"><center>周三</center></th>
      <th align="center"><center>周四</center></th>
      <th align="center"><center>周五</center></th>
      <th align="center"><center>周六</center></th>
      <th align="center"><center>周日</center></th>
      <th align="center"><center>周一</center></th>
      <th align="center"><center>本周</center></th>
      <th align="center"><center>本月</center></th>
      <th align="center"><center>总计</center></th>
      </tr>
    </table>



    </div>
{% endblock %}
{% block scripts %}
    <script>

    $('#searchBegin').datetimepicker({
        timepicker: false,
        format: 'Y-m-d'
    });
    $('#searchEnd').datetimepicker({
        timepicker: false,
        format: 'Y-m-d'
    });
        function search(){
          var beginDate = $("#searchBegin").val()
          var endDate = $("#searchEnd").val()
          var url = "{%url 'contract:Y19stat' %}?beginDate="+beginDate+"&endDate="+endDate
          document.location.href=url
        }

        $("#searchBegin").val('{{beginDate}}')
        $("#searchEnd").val('{{endDate}}')

        $(document).ready(function() {
            $('#datatable').DataTable( {
              "paging":   false,
              "ordering":false,
            	"searching": false,
            	"info":false,
              dom: 'Bfrtip',
      buttons: [
            { extend: 'copy', text: '复制' },
            { extend: 'csv', text: '保存' },
            { extend: 'print', text: '打印' }
        ],

              "language": {
            "lengthMenu": "每页显示 _MENU_ ",
            "zeroRecords": "空空如也",
            "sInfo":"共 _TOTAL_ 单",
            "infoEmpty": "没有找到哦",
            "sSearch":"查询",
            "oPaginate": {
		        "sFirst":"首页",
		        "sPrevious": 	"上一页",
		        "sNext":     	"下一页",
		        "sLast":     	"末页"
	        },
            "infoFiltered": "(从 _MAX_ 中搜索)"
        },

              "footerCallback": function( tfoot, data, start, end, display ) {
                  var api = this.api();
                  $( api.column( 1 ).footer() ).html(
                      api.column( 1 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 2 ).footer() ).html(
                      api.column( 2 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 3 ).footer() ).html(
                      api.column( 3 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 4 ).footer() ).html(
                      api.column( 4 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 5 ).footer() ).html(
                      api.column( 5 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 6 ).footer() ).html(
                      api.column( 6 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 7 ).footer() ).html(
                      api.column( 7 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 8 ).footer() ).html(
                      api.column( 8 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 9 ).footer() ).html(
                      api.column( 9 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 10 ).footer() ).html(
                      api.column( 10 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );
                  $( api.column( 11 ).footer() ).html(
                      api.column( 11 ).data().reduce( function ( a, b ) {
                          var ai = new Number(a)
                          var bi = new Number(b)
                          return ai + bi;
                      }, 0 )
                  );

              }
            });

        });
    </script>
{% endblock %}
