{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<script src="js/jquery-1.10.2.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/go_static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/go_static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/go_static/css/bootstrap3.4-icons.css">
    <link rel="stylesheet" href="/go_static/css/zhenpu.css?tag=1">
    <!-- link rel="stylesheet" href="/go_static/media/css/jquery.dataTables.css"-->
    <link rel="stylesheet" type="text/css" href="/go_static/media/css/buttons.dataTables.min.css">

    <script src="/go_static/js/jquery2.min.js"></script>
    <script src="/go_static/js/bootstrap.min.js"></script>
    <script src="/go_static/js/jquery.validate.js"></script>
    <script src="/go_static/media/js/jquery.dataTables.min.js"></script>
   	<script type="text/javascript" language="javascript" src="/go_static/media/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="/go_static/media/js/buttons.html5.min.js"></script>
	<script type="text/javascript" language="javascript" src="/go_static/media/js/buttons.print.min.js"></script>

    <!--datetimepicker-->
    <link rel="stylesheet" type="text/css" href="/go_static/js/DateTimePicker/jquery.datetimepicker.css"/>
    <script src="/go_static/js/DateTimePicker/build/jquery.datetimepicker.full.min.js"></script>

    <script src="/go_static/js/utils.js?ver=20170909b"></script>
    <script src="/go_static/js/config.js"></script>
    <title>真朴围棋槐房校区图书馆上新啦</title>
	  <style>
      body{margin:0;padding: 0;background:#fff;height:100%;width:100%}
      div{display: flex;flex-direction: column;align-items:center;width:94%;text-align: center;margin:0 auto;padding:10px 10px 10px 10px;}
      img{display: block;width:100%;padding:10px;border-radius: 26px;}
    </style>
</head>
<body>
<div style="width:100%;margin:0;padding:0;"><img src="/go_static/m/img/title.gif" style="width:100%;padding:0;border-radius:0"></div>
<div style="padding:20px 0 0px 0;">
<font style="font-weight:bold;font-size:20px;">快来把我带回家吧!</font></div>
<div style="padding:10px 0 2px 0;">槐房校区图书馆</div>
<div style="padding:0px 0 10px 0;">2018-12-15</div>
<div>我们的图书馆又上新啦～</div>
<div>
<img src="/go_static/m/img/book03.jpg" />
<img src="/go_static/m/img/book02.jpg" /></div>
<div>这是两套分别来自美国和韩国的获奖数学启蒙绘本。</div>
<div>数学是很多孩子的挚爱，也是很多家长和孩子的心病。</div>
<div>通过好玩易懂的故事，
  把数学常识和技能融化在每天孩子的睡前绘本阅读时间里，应该是家长一个不错的选择。</div>
  <div><img src="/go_static/m/img/book04.jpg" /></div>

<div>日本绘本有一个描绘日常事物细致入微的特色，所以这套博物志类型的绘本，不仅可以作为日常阅读使用，还是孩子们的百科词典，
  可以随时翻阅查找想要的内容。</div>
  <div>
  <img src="/go_static/m/img/book05.jpg" />
</div>
<div>Sight word的学习和自然拼读是英语启蒙的两条腿，前者用最少的代价掌握英语最常使用的基础词汇，后者帮孩子轻松打开英语发音的大门。</div>
<div>这两者的学习，都离不开家长每天的阅读陪伴。</div>
<div>我们给您提供这些Sight word绘本和柯林斯儿童英语分级读物，都是经典的英语启蒙读物，
  他们来自<b>Scholastic</b>——美国最著名的教育出版机构，和<b>柯林斯</b>——英国最著名的英语学习出版机构。</div>
<div><img src="/go_static/m/img/book01.jpg" /></div>
<div>孩子们可能并不知道这些优秀绘本的价值，所以我们把这些最有教育价值的绘本，单独摆放在家长休息区的一角。</div>
<div>希望您能帮助孩子把它们带回家，
  融入您和孩子晚间游戏以及睡前阅读的一部分，在潜移默化中，帮助孩子scholastic能力的提高</div>
  <div><img src="/go_static/m/img/library.png" /></div>
<div>好了，今天就介绍到这里，以后我们还会精心挑选适合孩子们阅读的书籍，不定期地添加进我们的图书角。希望孩子们不仅在真朴收获围棋的快乐，
  还能获得全方位的成长！</div>


  <div id="inc_reg">
  {% include 'include_reg.html' %}
  </div>


</body>
</html>
<script>


</script>
