<!-- referrer Modal -->
<div class="modal fade" id="referTeacherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">老师</h4>
            </div>
            <div class="modal-body" id="info-body">
                <div class="panel panel-default">
                    <div class="panel-heading">请填写老师姓名或拼音&nbsp;&nbsp;
<input id="searchName" name="searchName" style="width:140px;" type="text"> <button id="doSearchReferTeacher" type="button" class="btn btn-default" aria-label="search">
                         <span class="glyphicon glyphicon-search" aria-hidden="false"></span>在全部校区查询
                      </button>

                    </div>
                    <div class="panel-body">
                        <select id="referTeachers" name="referTeachers" size="16" style="width:400px"></select>                    </div>
                    </div>

            </div>

        </div>
    </div>
</div>
