<!-- referrer Modal -->
<div class="modal fade" id="referrerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">查找转介孩子</h4>
            </div>
            <div class="modal-body" id="info-body">
                <div class="panel panel-default">
                    <div class="panel-heading">请填写孩子姓名或家长电话&nbsp;&nbsp;
<input id="searchKid" name="searchKid" style="width:140px;" type="text"> <button id="doSearchKid" type="button" class="btn btn-default" aria-label="search">
                         <span class="glyphicon glyphicon-search" aria-hidden="false"></span>查询孩子
                      </button>

                    </div>
                    <div class="panel-body">
                        <select id="referrers" name="referrers" size="10" style="width:400px"></select>                    </div>
                    </div>
                
            </div>
            
        </div>
    </div>
</div>