<!-- sourceCategory Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><center>选择转介人</center></h4>
            </div>
            <div class="modal-body" id="info-body">
                <div class="panel panel-default">
                    <div class="panel-heading"><input> <button>查询</button>&nbsp;&nbsp;


                    </div>
                    <div class="panel-body">


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="save_userInfo" type="button" class="btn btn-danger" data-dismiss="modal">保存
                        </button>
            </div>
        </div>
    </div>
</div>
