<!-- sourceCategory Modal -->
<div class="modal fade" id="searchTeacherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><center>选择协作老师</center>
            <div class="modal-body" id="info-body">
                <div class="panel panel-default">
                    <div class="panel-heading">校区老师列表</div>
                    <div class="panel-body">
                        <select id="co_teachers" name="co_teachers" multiple="multiple" size="16" style="width:200px"></select>

                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button id="save_co_teacher" type="button" class="btn btn-danger" data-dismiss="modal">OK
                        </button>
            </div>
        </div>
    </div>
</div>
