<!-- sourceCategory Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加分类</h4>
            </div>
            <div class="modal-body" id="info-body">
                <div class="panel panel-default">
                    <div class="panel-heading"><span id="sourceTypeSpan"></span>&nbsp;&nbsp;


                    </div>
                    <div class="panel-body">
                        <p><span>类名：</span><input type="text" id="sourceCategoryName">

                        <p><span>编号：</span><input type="text" id="sourceCategoryCode">


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="save_category" type="button" class="btn btn-danger" data-dismiss="modal">保存
                        </button>
            </div>
        </div>
    </div>
</div>
